{% set title="Главная" %}
{% set lang="ru" %}

{% include 'parts/_head.html' %}

{% include 'parts/_header.html' %}


<main>
    <section class="services">
        <h1>Список услуг</h1>
        <ul class="services--list">
            {% set abc=[ 'Уроки', ' ДЗ', 'Консультации' ] %}
            {% for a in abc % }
            <li class="services--item">
                {{a}}
                {{b}}
                {{c}}
            </li>
           { % endfor %}
        </ul>
    </section>

</main>

{% include 'parts/_foot.html' %}
