{% set title="Цены" %}
{% set lang="ru" %}

{% include 'parts/_head.html' %}

{% include 'parts/_header.html' %}


<section class="prices">
    <h1>Цены</h1>
        <table border="2" class="prices--table">
            {% set tableData=  [
                ['Наименование', 'Кол-во', 'Цена'],
                ['Уроки', '100', '200'],
                ['ДЗ', '100', '200'],
                ['Консультации', '100', '200']
            ] %}
            {% for row in tableData %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                </tr>
            {% endfor %}          
        </table>

</section>



{% include 'parts/_foot.html' %}