{% set title="Цены" %}
{% set lang="ru" %}

{% include 'parts/_head.html' %}

{% include 'parts/_header.html' %}

{% include 'parts/_foot.html' %}

<section class="prices">
    <h1>Цены</h1>
    <ul class="prices--table">
        {% set abcd=  [
            ['Наименование', 'Кол-во', 'Цена'],
            ['Уроки', '100', '200'],
            ['ДЗ', '100', '200'],
            ['Консультации', '100', '200']
        ]% }
        {% for a in abcd % }
            <li>{{a}}
                {{b}}
                {{c}}
                {{d}}
            <li>
        
        
        { % endfor %}
    </ul>

</section>